data/*@tmp
data/db/*
data/downloads/*
data/jenkins*/*
data/job_queue*/*/*
data/logs/*
data/samples/*/
data/tools/*.jar
data/webapps/*
data/work/*/
!data/work/trash
!data/work/lock
data/work/trash/*
data/work/lock/*
dev/
!.gitkeep
!data/db/*.sh
!data/webapps/manager